<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Small Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/template_inicio/css/inicio.css" rel="stylesheet" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!-- Responsive navbar-->

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">

                <a class="navbar-brand" href="#!">

                    <span style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 28px; color: #e50914;">Capiboots</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Bookbox">Bookbox</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">MovieBox</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">ShowBox</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Favoritos</a></li>
                    </ul>


                </div>
                <ul  class="nav navbar ms-auto">

                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                    <button class="btn btn-outline-light" type="submit">Buscar</button>
                </form>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" id="perfilDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Perfil
                    </a>
                   <!-- <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="perfilDropdown">
                        <li><a class="dropdown-item" href="#">Suscripción</a></li>


                        <li><a class="dropdown-item" href="#">Ajustes</a></li>
                        <li><a class="dropdown-item" href="#">Logros</a></li>
                        <li><a class="dropdown-item" href="#">Lista de Amigos</a></li>
                        <li><a class="dropdown-item" href="#">Mi Perfil</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                    </ul>-->

                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="perfilDropdown">
                        <li><a class="dropdown-item" href="subscripcion.html">Suscripción</a></li>
                        <li><a class="dropdown-item" href="#">Logros</a></li>
                        <li><a class="dropdown-item" href="#">ajustes</a></li>
                        <li><a class="dropdown-item" href="#">Lista de Amigos</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                    </ul>




                </div>
                </ul>
            </div>

        </nav>



        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
         <!--   <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Novedades</h1>
                    <p>Aqui podras ver las ultimas novedades añadidas a la plataforma!</p>
                    <a class="btn btn-primary" href="#!">Call to Action!</a>
                </div>
            </div>  -->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="img-fluid rounded mb-4 mb-lg-0" src="../static/template_inicio/assets/carrie.jpg" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img class="img-fluid rounded mb-4 mb-lg-0" src="../static/template_inicio/assets/momia.jpg"  alt="...">
                            </div>
                            <div class="carousel-item">
                                <img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/6c757d/dee2e6.jpg" alt="...">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Novedades</h1>
                    <p>Aqui podras ver las ultimas novedades añadidas a la plataforma!</p>
                    <a class="btn btn-primary" href="#!">Pulsa para ver más</a>
                </div>
            </div>






            <!-- Call to Action
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">DESCUBRE UNA NUEVA FORMA DE VIVIR EL CINE Y LA LITERATURA CON CAPIBOOTS</p></div>
            </div>-->

            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body">
                    <p class="text-white m-0" style="font-size: 20px; font-weight: bold;">DESCUBRE UNA NUEVA FORMA DE VIVIR EL CINE Y LA LITERATURA CON CAPIBOOTS</p>
                </div>
            </div>

        </div>
        <!-- Sección de Seguir Viendo-->
        <section class="py-5">
            <div class="container-fluid px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <div class="text-center">

                            <h2 class="fw-bolder" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 42px; color: #e50914;">Seguir viendo</h2>
                            <p class="lead fw-normal text-muted mb-5" style="font-size: 28px;">Continúa donde lo dejaste</p>
                        </div>
                    </div>
                </div>
                <div id="micarousel2" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
                    <div class="carousel-inner">
                        <!--1ª sección-->
                        <div class="carousel-item active">
                            <div class="row col-11 mx-auto gx-3">
                                <div class="col-lg-2 mb-5">
                                    <div class="card h-100 shadow border-0" style="background-color:#f72a2a;">
                                        <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="No se encuentra la imagen" />
                                        <div class="card-body p-4 mx-auto">
                                            <a class="text-decoration-none text-light link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Movie 1</h5></a>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-2 mb-5">
                                    <div class="card h-100 shadow border-0" style="background-color:#f72a2a;">
                                        <img class="card-img-top" src="https://dummyimage.com/600x350/adb5bd/495057" alt="No se encuentra la imagen" />
                                        <div class="card-body p-4 mx-auto">
                                            <a class="text-decoration-none text-light link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Movie 2</h5></a>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 mb-5">
                                    <div class="card h-100 shadow border-0" style="background-color:#f72a2a;">
                                        <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="No se encuentra la imagen" />
                                        <div class="card-body p-4 mx-auto">
                                            <a class="text-decoration-none text-light link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Movie 3</h5></a>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-2 mb-5">
                                    <div class="card h-100 shadow border-0" style="background-color:#f72a2a;">
                                        <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="No se encuentra la imagen" />
                                        <div class="card-body p-4 mx-auto">
                                            <a class="text-decoration-none text-light link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Movie 4</h5></a>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 mb-5">
                                    <div class="card h-100 shadow border-0" style="background-color:#f72a2a;">
                                        <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="No se encuentra la imagen" />
                                        <div class="card-body p-4 mx-auto">
                                            <a class="text-decoration-none text-light link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Movie 5</h5></a>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 mb-5">
                                    <div class="card h-100 shadow border-0" style="background-color:#f72a2a;">
                                        <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="No se encuentra la imagen" />
                                        <div class="card-body p-4 mx-auto">
                                            <a class="text-decoration-none text-light link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Movie 6</h5></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--2ª sección-->
                        <div class="carousel-item active">
                            <div class="row col-11 mx-auto gx-3">
                                <div class="col-lg-2 mb-5">
                                    <div class="card h-100 shadow border-0" style="background-color:#f72a2a;">
                                        <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="No se encuentra la imagen" />
                                        <div class="card-body p-4 mx-auto">
                                            <a class="text-decoration-none text-light link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Movie 7</h5></a>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-2 mb-5">
                                    <div class="card h-100 shadow border-0" style="background-color:#f72a2a;">
                                        <img class="card-img-top" src="https://dummyimage.com/600x350/adb5bd/495057" alt="No se encuentra la imagen" />
                                        <div class="card-body p-4 mx-auto">
                                            <a class="text-decoration-none text-light link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Movie 8</h5></a>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 mb-5">
                                    <div class="card h-100 shadow border-0" style="background-color:#f72a2a;">
                                        <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="No se encuentra la imagen" />
                                        <div class="card-body p-4 mx-auto">
                                            <a class="text-decoration-none text-light link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Movie 9</h5></a>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-2 mb-5">
                                    <div class="card h-100 shadow border-0" style="background-color:#f72a2a;">
                                        <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="No se encuentra la imagen" />
                                        <div class="card-body p-4 mx-auto">
                                            <a class="text-decoration-none text-light link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Movie 10</h5></a>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 mb-5">
                                    <div class="card h-100 shadow border-0" style="background-color:#f72a2a;">
                                        <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="No se encuentra la imagen" />
                                        <div class="card-body p-4 mx-auto">
                                            <a class="text-decoration-none text-light link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Movie 11</h5></a>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 mb-5">
                                    <div class="card h-100 shadow border-0" style="background-color:#f72a2a;">
                                        <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="No se encuentra la imagen" />
                                        <div class="card-body p-4 mx-auto">
                                            <a class="text-decoration-none text-light link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Movie 12</h5></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Controles-->
                    <button class="carousel-control-prev" type="button" data-bs-target="#micarousel2" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon bg-dark py-5 me-auto" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#micarousel2" data-bs-slide="next">
                        <span class="carousel-control-next-icon bg-dark py-5  ms-auto" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>
            </div>
        </section>


        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Capiboots 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>

    </body>
</html>

