<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head th:fragment="head">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <!-- Estilos personalizados -->
  <link href="" type="text/css" rel="stylesheet">

  <title>Lista de Contenidos</title>
</head>
<body>
<header class="bg-black">
<main class="flex-shrink-0">

  <!--Navegación-->
  <nav th:replace="bloques/bloques.html :: navegacion"> </nav>
<br><br><br>
</main>
</header>
<!--Lista de Contenidos-->
<div>
  <a class="navbar-brand" th:href="@{/contenido/lista-contenidos}" style="font-size: 38px; color: black; font-weight: bold">
    <span>Lista de Contenidos</span>
  </a>
  <br>
  <!--Crear-->
  <a th:href="@{/contenido/nuevo-contenido}">Crear</a>

    <!--Listar-->
  <br><br><br>
  <table class="table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <!--<th>Fecha Alta</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="contenido : ${listaContenidos}">
      <th th:text="${contenido.id}"></th>
      <td th:text="${contenido.nombre}"></td>
      <!--<td th:text="${contenido.fechaAlta}"></td>-->

      <td>
        <!--Editar y Borrar-->
        <!--En href escribimos el link del metodo del controlador que queremos que se ejecute-->
        <a class="btn btn-primary" th:href="@{/contenido/editar/{id}(id=${contenido.id})}" >Editar</a>
        <!---Subir Archivo-->
        <a class="btn btn-success" th:href="@{/contenido/nuevo-contenido/subir-archivo/{id}(id=${contenido.id})}" >Subir Archivo</a>
        <a onclick="return confirm('¿Estás seguro de que quieres borrar el contenido?')"
           class="btn btn-outline-danger" th:href="@{/contenido/borrar/{id}(id=${contenido.id})}">Borrar</a>
      </td>

    </tr>
    </tbody>
  </table>
</div>
<!--Lista de Series-->
<div>
  <div>
    <div>
      <a class="navbar-brand" th:href="@{//contenido/lista-contenidos}" style="font-size: 38px; color: black; font-weight: bold">
        <span>Lista de Series</span>
      </a>
      <br>
      <a th:href="@{/serie/nueva-serie}">Crear nueva serie</a>
    </div>

    <br>

    <div>
      <form th:action="@{/buscarseri}">
        Filter:
        <input type="text" name="keyword" required/>
        &nbsp;
        <input type="submit" value="Search"/>
        &nbsp;
        <input type="button" value="Clear"/>
      </form>
    </div>


    <div>
      <br><br><br>
      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="serie : ${listaseries}">
          <td th:text="${serie.id}">ID</td>
          <td th:text="${serie.nombre}">Nombre</td>
          <td th:text="${serie.descripcion}">Descripción</td>
          <td>
            <!--Editar y Borrar-->
            <!--En href escribimos el link del metodo del controlador que queremos que se ejecute-->
            <a class="btn btn-primary" th:href="@{/serie/editar/{id}(id=${serie.id})}" >Editar</a>
            <!---Subir Archivo-->
            <a class="btn btn-success" th:href="@{/serie/nueva-serie/subir-archivo/{id}(id=${serie.id})}" >Subir Archivo</a>
            <a onclick="return confirm('¿Estás seguro de que quieres borrar el contenido?')"
               class="btn btn-outline-danger" th:href="@{/serie/borrar/{id}(id=${serie.id})}">Borrar</a>
          </td>

        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>



<!-- Optional JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>
</html>