<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <th:block th:include="bloques/bloques.html :: head">
    </th:block>
    <title>Lista de Usuarios</title>
</head>

<body>

<!--Navegación-->
<nav th:replace="bloques/bloques.html :: navegacion"></nav>
<br><br><br>
<br>

<a class="navbar-brand" th:href="@{/lista-usuarios}" style="font-size: 38px; color: black; font-weight: bold">
    <span>Lista de Usuarios</span>
</a>
<br>

<!--Crear-->
<a th:href="@{/usuario/nuevo-usuario}">Crear nuevo usuario</a>

<!--Lista-->
<br><br><br>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre de usuario</th>
        <th>Edad</th>
        <th>Género</th>
        <th>Género</th>
        <th>Correo</th>
        <th>País</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${listausuarios}">
        <td th:text="${usuario.id}">Id</td>
        <!--Se llama directamente a la función de un objeto sin haberlo definido antes con ${objeto.función}-->
        <td th:text="${usuario.nombreUsuario}"></td>
        <td th:text="${usuario.edad}"></td>
        <td th:text="${usuario.genero}"></td>
        <td th:switch="${usuario.genero}">

            <p th:case="0"> Hombre</p>
            <p th:case="1"> Mujer</p>
            <p th:case="2"> Otro</p>
            <p th:case="3"> NA</p>

        </td>
        <td th:text="${usuario.correo}">Correo</td>
        <td th:text="${usuario.pais}">País</td>
        <td>
            <!--Editar y Borrar-->
            <!--En href escribimos el link del método (del controlador) que queremos activar, seguido de la id de nuestro objeto-->
            <a class="btn btn-outline-primary" th:href="@{/usuario/editar/{id}(id=${usuario.id})}">Editar</a>
            <a onclick="return confirm('¿Estás seguro?')" class="btn btn-outline-danger"
               th:href="@{/usuario/borrar/{id}(id=${usuario.id})}">Borrar</a>
        </td>

    </tr>
    </tbody>
</table>


<!-- Optional JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>
</html>