<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head>
  	<title th:text="${titulo}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="../static/template_menus/css/style.css">

  </head>
  <body>

  <section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Acceso a Capiboots</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
						<!--<div th:if="${param.error}">
							<div class="alert alert-danger">Invalid Email or Password</div>
						</div>
						<div th:if="${param.logout}">
							<div class="alert alert-success"> Has hecho logout.</div>
						</div>-->

						<div class="icon d-flex align-items-center justify-content-center">
							<span class="fa fa-user-o"></span>
						</div>
						<h3 class="text-center mb-4">Inicia sesión en tu cuenta</h3>
						<br>
						<form th:action="@{/acceso}" class="form-horizontal" method="post">
							<div class="form-group">
								<label class="control-label">Nombre de Usuario:</label>
								<br>
								<input type="text" id="nombre" name="nombre" class="form-control rounded-left" placeholder="..." required>
							</div>
							<br>
							<div class="form-group d-flex">
								<label class="control-label">Contraseña:</label>
								<br>
								<input type="password" id="password" name="password" class="form-control rounded-left" placeholder="..." required>
							</div>
							<br>
							<div class="form-group d-md-flex">
								<div class="w-50">
									<label class="checkbox-wrap checkbox-primary">Remember Me
										<input type="checkbox" checked>
										<span class="checkmark"></span>
									</label>
								</div>
								<br>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary rounded submit p-3 px-5">Iniciar Sesión</button>
								&nbsp;&nbsp;
								<span>
									<button><a th:href="@{/registro}">Registrarse</a></button>
								</span>
							</div>
							<a th:href="@{/forgot_password}">He olvidado mi contraseña</a>
						</form>
						<br>
					</div>
				</div>
			</div>
		</div>
  </section>
  <script src="../static/template_inicio/js/scripts.js"></script>
  </body>
</html>

